<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Overdue Payments - Rosa Heights Management System</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/view-tenants.css">
    <link rel="stylesheet" href="../css/records.css">
    <link wirel="icon" href="../r/images/logo-inv.png" type="image/x-icon">
</head>

<body>
    <div class="head-container">
        <img class="logo" src="../r/images/logo-inv.png" alt="Logo">
        <div class="banner">
            <h5>ROSA HEIGHTS MANAGEMENT SYSTEM</h5>
            <p>31/12/24</p>
        </div> 
        <div class="user-info">
            <small>Logged in as:</small>
            <h3>Name: Caretaker</h3>
        </div>
    </div>
    <div class="navbar">
        <a class="nav-item" href="caretaker-dashboard.html">Dashboard</a>
        <a class="nav-item" href="payment-records.html">Payment History</a>
      
    </div>

    <div class="content-container">
        <div class="search-container">
            <input type="text" id="search-bar" placeholder="Search record" oninput="filterTable()">
        </div>

        <h2>Overdue Payments</h2>

        <table id="overdue-table">
            <thead>
                <tr>
                    <th class="unique-id">Record ID</th>
                    <th>TenantID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>House</th>
                    <th>Amount Paid by Delay Time</th>
                    <th>Month Due</th>
                    <th>Rent Per Month </th>
                    <th>Garbage Fee (Constant)</th>
                    <th>Water Bill</th>
                    <th>Total Bill</th>
                    <th>Amount Paid</th>
                    <th>Amount Remaining</th>
                    <th>Initiate Payment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a class="init-payment" href="">Handle Client Payment</a></td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="actions-container">
          <p><strong>Note:</strong>These records of late payment will remain for future reference</p>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="contact-info">
                <p><i class="fas fa-phone-alt"></i> +254 XXXX XXXX</p>
                <p><i class="fas fa-map-marker-alt"></i> Rosa Heights, Kiambu, Kenya</p>
                <p><i class="fas fa-envelope"></i> mrkleecodes@gmail.com</p>
            </div>
        </div>
    </footer>
   
    
    <script type="module" src="../js/firebase.js"></script>
    <script type="module" src="../js/unpaid-overdue.js">defer</script>
</body>
</html>
